.nav-link {
    font-size: 1.3em;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link.active {
    background-color: #007bff;
    color: white;
}

.sidebar-title {
    margin: 30px 0 20px 20px;
    font-size: 2em;
    color: #333;
}

.nav-item {
    margin: 10px 10px;
}

main {
    padding-top: 40px;
}

.main-title {
    padding-left: 30px; 
    margin-bottom: 30px;
}

.about-content {
    margin-top: 40px;
}

.form-range {
    width: 100px;
}

.slide-btn { 
    width: 100px;
    height: 20px;
    position: relative;
    left: 320px; 
    top: -30px; 
}

.fan-control { 
    position: relative;
    left: 250px;
    top: -40px; 
}

.tv-control {
    width: 150px;
    height: 120px;
    position: relative;
    left: 320px; 
    top: -110px;
    transition: all 0.1s ease;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 150px;
}

.spd-btn:active:not(:disabled),
.tv-btn:active:not(:disabled) {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
    opacity: 0.7;
}

.btn-outline-primary:active:not(:disabled) {
    background-color: hsl(216, 58%, 51%);
    color: hsl(216, 98%, 32%);
}

.btn-group1 {
    display: flex;
    gap: 25px; 
}

.btn.rounded-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

@media (max-width: 768px) {
    .sidebar {
        margin-bottom: 20px;
    }
    
    .nav-item {
        margin: 5px 0;
    }
    
    .sidebar-title {
        margin: 15px 0 15px 10px;
        font-size: 1.3em;
    }
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

*:focus-visible {
    outline: 2px solid #007bff !important;
}
